<div class="card text-center">
  <div class="card-header">
    <span
      *ngIf="userNote.status === 'Done'"
      class="badge badge-pill badge-success float-start"
      >{{ userNote.status }}</span
    >
    <span
      *ngIf="userNote.status === 'Todo'"
      class="badge badge-pill badge-warning float-start"
      >{{ userNote.status }}</span
    >{{ userNote.title }}
    <img
      (click)="deleteNote()"
      class="float-right"
      src="assets/images/logo/delete-icon.png"
      alt=""
    />
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
      {{ userNote.body }}
    </p>
  </div>
  <div class="text-muted">
    Created On: {{ userNote.created.seconds * 1000 | date: "yyyy/MM/dd" }}
  </div>
  <div class="text-muted">
    Edited On: {{ userNote.edited.seconds * 1000 | date: "yyyy/MM/dd" }}
  </div>
</div>
