.card {
  margin-top: 10px;
  margin-bottom: 10px;

  .card-header {
    background: white;
    display: flex;
    justify-content: space-between;
  }

  .badge-success {
    background: green;
    color: #fff;
  }

  .badge-warning {
    background: orange;
    color: #000;
  }

  img {
    width: 20px;
    height: 20px;
  }
}
