.card {
  margin-top: 10px;
  margin-bottom: 10px;

  .card-header {
    background: white;
    display: flex;
    justify-content: space-between;
  }

  .badge-success {
    background: green;
    color: #fff;
    height: 20px;
    width: 53px;
  }

  .badge-warning {
    background: orange;
    color: #000;
    height: 20px;
    width: 53px;
  }

  .icon-container {
    img {
      width: 30px;
      height: 30px;
      margin: 5px;
    }

    img:hover {
      cursor: pointer;
    }
  }

  input,
  textarea {
    margin: 5px;
  }

  textarea {
    resize: none;
  }

  .non-select {
    user-select: none;
    align-self: center;
  }
}
