.btn-success {
  margin-right: 5px;
}

.container {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;

  hr {
    width: 100%;
  }

  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
}
