<div class="container">
  <div class="row">
    <div class="col mt-1">
      <img src="assets/images/logo/take-note-logo.png" alt="" srcset="" />
      <button
        (click)="openCreate()"
        class="btn btn-success"
        title="Click to add a new note"
      >
        Add Note
      </button>
      <button
        class="btn btn-danger"
        (click)="logout()"
        title="Sign out and return to the login page"
      >
        Sign Out
      </button>
      <div class="instruction-text">
        You add a note using the "Add Note" button.

        <br /><br />

        You can using the following features to add/edit/remove todos from the
        list. You may edit the title and body fields at any time and then click
        the save icon.

        <br /><br />

        To change the status you can click the status of the note to toggle
        between todo and done statuses.

        <br /><br />

        Clicking the red bin icon will delete the todo item, removing it from
        the list.
      </div>
      <hr />
      <span *ngIf="!notes" class="text-danger"
        >You currently have no notes, you can begin by clicking the Add Notes
        button above.</span
      >
    </div>
  </div>
  <app-todo-item
    *ngFor="let note of notes"
    (data)="save($event)"
    [user]="userId"
    [userNote]="note"
  ></app-todo-item>
</div>
<app-create-item
  *ngIf="dialog.dialogFlag"
  (formData)="create($event)"
></app-create-item>
