.container {
  padding: 10px;
  width: 60%;
  height: 100vh;

  hr {
    width: 100%;
  }

  img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  .btn-success {
    margin-right: 5px;
  }
}
