<div class="container mt-2">
  <div class="row">
    <div class="col mt-1">
      <img src="assets/images/logo/take-note-logo.png" alt="" srcset="" />
      <button
        (click)="addNote()"
        routerLinkActive="router-link-active"
        class="btn btn-success"
      >
        Add Note
      </button>
      <button class="btn btn-danger">Sign Out</button>
      <span></span>
      <hr />
      <span class="text-danger"
        >You currently have no notes, you can begin by clicking the Add Notes
        button above.</span
      >
    </div>
  </div>
</div>
