<div class="container">
  <div class="row">
    <div class="col mt-1">
      <img src="assets/images/logo/take-note-logo.png" alt="" srcset="" />
      <button (click)="setToCreate()" class="btn btn-success">Add Note</button>
      <button class="btn btn-danger" (click)="logout()">Sign Out</button>
      <span></span>
      <hr />
      <span *ngIf="!notes" class="text-danger"
        >You currently have no notes, you can begin by clicking the Add Notes
        button above.</span
      >
    </div>
  </div>
  <app-todo-item
    *ngFor="let note of notes"
    (data)="save($event)"
    [user]="userId"
    [userNote]="note"
  ></app-todo-item>
</div>
